@model Melodix.Modelos.Artista

@{
    ViewData["Title"] = "Details";
    var userId = User?.FindFirst("sub")?.Value ?? User?.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
    bool yaSigue = Model.Seguidores?.Any(s => s.UsuarioId == userId) == true;
}
<div class="container-fluid p-0">
    <!-- Header grande del artista -->
    <div class="p-5 d-flex align-items-end"
         style="height: 380px; background: linear-gradient(to bottom, #3c3c3c, #000); color: white;">

        <img src="@Model.ImagenUrl"
             alt="@Model.NombreArtistico"
             style="width: 220px; height: 220px; object-fit: cover; border-radius: 50%; box-shadow: 0 0 20px rgba(0,0,0,0.6); margin-right: 30px;" />

        <div>
            <div class="d-flex align-items-center mb-2">
               
                <img src="/img/visto.webp"
                     width="20" class="me-2" title="Artista verificado" />
                <span class="text-muted small">Artista verificado</span>
            </div>

            <h1 class="display-1 fw-bold" style="font-size: 4.5rem;">@Model.NombreArtistico</h1>
        </div>
    </div>

    <!--  biografía -->
    <div class="bg-black text-white px-5 py-4">

        <img src="C:\Users\Ingri\OneDrive\Pictures\visto.webp" />

        <hr class="my-4 border-secondary" />

        <h5 class="text-uppercase text-secondary">Biografía</h5>
        <p>@Model.Biografia</p>
    </div>
</div>

<!--Boton Seguir-->

<form method="post" asp-controller="Artistas" asp-action="SeguirArtista">
    <input type="hidden" name="usuarioId" value="@userId" />
    <input type="hidden" name="artistaId" value="@Model.ArtistaId" />

    <button type="submit" class="btn @(yaSigue ? "btn-danger" : "btn-primary")">
        @(yaSigue ? "Dejar de seguir" : "Seguir artista")
    </button>
</form>

<!--Tabla de albumes que le corresponden a un artista-->
<h3 class="text-white mt-5">Álbumes</h3>
<table class="table table-borderless text-white">
    <thead>
        <tr>
            <th></th>
            <th>Título</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var album in Model.Albumes)
        {
            <tr>
                <td style="width: 70px;">
                    <a href="@Url.Action("Details", "Albums", new { id = album.AlbumId })">
                        <img src="@album.urlImagen" style="width: 60px; height: 60px; object-fit: cover;" />
                    </a>

                </td>
                <td>
                    <a href="@Url.Action("Details", "Albums", new { id = album.AlbumId })" style="color: white; text-decoration: none;">
                        <strong>@album.Nombre</strong>
                    </a>

                </td>
                <td>@album.FechaLanzamiento.ToString("yyyy")</td>
            </tr>
        }
    </tbody>
</table>
